* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body .container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

nav {
  width: 100%;
  padding: 12px 0;
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .logo-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .container .logo-left a {
  text-decoration: none;
}

nav .container .logo-left h1 {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  text-transform: capitalize;
}

nav .container .logo-left span {
  color: #007bff;
  padding: 17px 0 0 0;
  font-weight: 800;
}

nav .container .items-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .container .items-right .active {
  color: #fff;
}

nav .container .items-right a {
  margin: 0 45px 0 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

nav .container .items-right a:hover {
  color: #fff;
}

nav .container .items-right .social a {
  margin: 0 10px 0 0;
}

.hero {
  width: 100%;
  background: url("img/hero_2.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
}

.hero .container {
  width: 100%;
  max-width: 950px;
  text-align: center;
  position: relative;
  z-index: 3;
}

.hero .container h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-weight: 700;
}

.hero .container p {
  color: #fff;
  margin: 7px 0;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 300;
}

.hero .container .btn {
  padding: 60px 0 55px 0;
}

.hero .container .btn a {
  padding: 12px 35px;
  border-radius: 24px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.hero .container .slider i {
  font-size: 7px !important;
  color: rgba(255, 255, 255, 0.5);
}

.hero .container .slider i:nth-child(2) {
  color: #fff;
}

.hero .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 50px;
  left: 49%;
}

.hero .middle .mouse {
  width: 27px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 60px;
}

.hero .middle .mouse::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 4px;
  background: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  -webkit-animation: mouse 2s infinite;
          animation: mouse 2s infinite;
}

@-webkit-keyframes mouse {
  from {
    opacity: 1;
    top: 4px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 4px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

.about-us {
  width: 100%;
}

.about-us .heading {
  text-align: center;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 100px 0 30px 0;
}

.about-us .heading h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #007bff;
  text-transform: capitalize;
  margin: 0 0 15px 0;
}

.about-us .heading span {
  font-size: 1.3rem;
  color: #808080;
  font-weight: 300;
}

.about-us .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.about-us .container .img-left {
  width: 530px;
  position: relative;
}

.about-us .container .img-left img {
  width: 100%;
  display: block;
}

.about-us .container .img-left .circle {
  position: absolute;
  top: 35%;
  right: -15%;
  height: 320px;
  width: 320px;
  background: #f8f9fa;
  border-radius: 50%;
  z-index: -1;
}

.about-us .container .text-right {
  width: 100%;
  max-width: 450px;
  padding: 0 10px 0 0;
}

.about-us .container .text-right h3 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0;
}

.about-us .container .text-right p {
  color: #808080;
  line-height: 1.8;
}

.banking-solutions {
  padding: 200px 0 0 0;
  width: 100%;
}

.banking-solutions .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banking-solutions .container .card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banking-solutions .container .card-wrap .card {
  width: 100%;
  max-width: 400px;
  padding: 0 28px;
  text-align: center;
}

.banking-solutions .container .card-wrap .card .img-wrap {
  height: 90px;
  width: 90px;
  margin: 0 auto;
}

.banking-solutions .container .card-wrap .card .img-wrap img {
  width: 100%;
  display: block;
}

.banking-solutions .container .card-wrap .card h1 {
  text-transform: capitalize;
  font-weight: 400;
  margin: 15px 0;
}

.banking-solutions .container .card-wrap .card p {
  color: gray;
  line-height: 1.7;
}

.banking-solutions .container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 0 0;
}

.banking-solutions .container .flex .img-left {
  width: 100%;
  max-width: 530px;
  position: relative;
}

.banking-solutions .container .flex .img-left img {
  width: 100%;
  display: block;
}

.banking-solutions .container .flex .img-left .circle {
  position: absolute;
  top: 35%;
  right: -15%;
  height: 320px;
  width: 320px;
  background: #f8f9fa;
  border-radius: 50%;
  z-index: -1;
}

.banking-solutions .container .flex .text-right {
  width: 100%;
  max-width: 450px;
}

.banking-solutions .container .flex .text-right h1 {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.8rem;
  margin: 0;
}

.banking-solutions .container .flex .text-right p {
  color: gray;
  line-height: 1.7;
  padding: 0 10px 0 0;
}

.banking-solutions .container .flex .text-right .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 0 0;
}

.banking-solutions .container .flex .text-right .list .wrap {
  padding: 0 0 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banking-solutions .container .flex .text-right .list .wrap i {
  color: #71bc42;
  margin: 0 18px 0 0;
}

.banking-solutions .container .flex .text-right .list .wrap span {
  display: block;
  color: gray;
}
/*# sourceMappingURL=style.css.map */